.MainInfo {
    width: max(176px, 19%);
    border: solid var(--gray) 1px;
    border-radius: 8px;
    box-shadow: 3px 3px 3px #34343450;
}

.MainInfo h3 {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    border-bottom: solid var(--gray) 1px;
    font-family: Antic;
    font-size: 20px;
    color: var(--buttonBlue);
}

.MainInfo p {
    font-family: Anton;
    font-size: 26px;
    color: var(--gray);
    padding: 3px;
}