.SideMenu {
    width: 18rem;
    height: 100vh;
    background-color: #343434;
}

.SideMenu .logo {
    width: 15rem;
    margin: 1rem 0;
}

.SideMenu hr {
    border: white solid 1px;
    border-radius: 10px;
    margin: 0 1rem;
}

.SideMenu .NavButtons {
    margin-top: 2.5rem;
}