.Table {
    margin-top: 50px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-height: 208px;
}
    
.Table .TableHeader {
    border-bottom: solid var(--gray) 1px;
    padding-right: 8px;
}
    
.Table .TableData {
    /* height: 435px; */
    /* height: 43.5vh; */
    /* height: 377px; */
    /* height: 406px; */
    overflow-y: auto;
    position: relative;
}

.Table .TableLine {
    padding: 17px 0;
    border-bottom: dotted #bbbbbb 1px;
}

.table .TableLine div .Icons {
    width: 2rem;
    height: 2rem;
    color: red;
}

.Table .TableLine p {
    margin: 0;
}

.Table .TableItem {
    text-align: center;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}