.infoReserve {
    padding: 0 5px 1px 12px;
    margin-bottom: 2px;
    max-height: 555px;
    width: 355px;
    gap: 10px;
    overflow-y: scroll;
}

.infoReserve .titleRes{
    font-size: .9em;
    font-family: BakBak;
}

.infoReserve .subtitle {
    font-size: .8em;
    margin: 5px 0;
}

.infoReserve .boxDay {
    width: 345px;
}

.infoReserve .boxDay .diaSemana {
    font-size: .8em;
    text-decoration: underline;
    font-family: Actor;
    margin: 0 0 5px;
}

.infoReserve .boxDay .Times {
    gap: 25px;
}

.infoReserve .boxDay .Times .InputBox {
    width: 160px;
    /* flex: 1 1 0px; */
}

.infoReserve .dashedLine {
    margin-top: 5px;
    border: 1px solid #DADADA;
    border-style: dashed;
}

@media (max-height: 880px) {
    .infoReserve {
        max-height: 420px;
    }
}

@media (max-height: 730px) {
    .infoReserve {
        max-height: 300px;
    }
}