/* .InfoLab .InfoLabWrapper { */
    /* flex-grow: 1; */
    /*max-height: calc(100vh - 65px - 189px); /* 1--vh - header - title - bottomMargin */
/* } */

.InfoLab .reserves {
    /* max-width: 60%; */
    flex-grow: 1;
    height: 100%;
    /* max-height: 663px; */
    /* height: 713px; */
    height: 663px;
}

.InfoLab .reserves .Table {
    margin-top: 30px;
}

.InfoLab .reserves .Table .TableHeader p {
    margin-bottom: 10px;
}

.InfoLab .reserves form {
    gap: 20px;
    align-items: end;
    margin-top: 10px;
}

.InfoLab .info {
    height: 663px;
}

.InfoLab .title {
    font-family: BakBak;
    font-size: 1.1em;
    color: var(--gray);
    text-align: center;
    /* margin-bottom: 25px; */
}

.InfoLab .info .infosLab {
    grid-template-areas: 'resp resp' 'nome cap' 'proj quadr' 'tel ar' 'comp outro';
    /* grid-template-areas: 'resp resp resp resp' 'nome nome cap cap' 'proj proj quadr quadr' 'tel tel ar ar' 'comp outro outro outro'; */
    /* grid-template-areas: 'resp resp resp resp resp resp' 'nome nome cap cap quadr quadr' 'proj proj proj tel tel tel' 'ar ar ar comp comp comp' 'outro outro outro outro outro outro'; */
    /* grid-template-areas: 'resp resp resp resp resp resp' 'nome nome nome cap cap cap' 'proj proj quadr quadr tel tel' 'ar ar ar comp comp comp' 'outro outro outro outro outro outro'; */
    /* grid-template-areas: 'resp resp' 'nome nome' 'cap proj' 'quadr tel' 'ar comp' 'outro outro'; */
    /* grid-template-rows: repeat(5, auto); */
    /* grid-template-areas: 'resp resp' 'nome nome' 'cap quadr' 'proj ar' 'tel comp' 'outro outro'; */
    display: grid;
    grid-template-rows: repeat(5, 77px);
    /* padding-right: 10px;
    grid-template-columns: repeat(1, auto);
    grid-template-rows: repeat(9, 74px); */
    /* overflow-y: scroll; */
    /* flex-grow: 1; */
    row-gap: 20px;
    column-gap: 20px;
    max-height: 512px;
}

.InfoLab .info .infosLab .UserData:nth-child(1) .Data {
    grid-area: resp;
    max-width: 400px;
}

.InfoLab .info .infosLab .UserData:nth-child(1) {
    grid-area: resp;
}

.InfoLab .info .infosLab .UserData:nth-child(2) {
    grid-area: nome;
}

.InfoLab .info .infosLab .UserData:nth-child(3) {
    grid-area: cap;
}

.InfoLab .info .infosLab .UserData:nth-child(4) {
    grid-area: proj;
}

.InfoLab .info .infosLab .UserData:nth-child(5) {
    grid-area: quadr;
}

.InfoLab .info .infosLab .UserData:nth-child(6) {
    grid-area: tel;
}

.InfoLab .info .infosLab .UserData:nth-child(7) {
    grid-area: ar;
}

.InfoLab .info .infosLab .UserData:nth-child(8) {
    grid-area: comp;
}

.InfoLab .info .infosLab .UserData:nth-child(9) {
    /* max-width: 256px; */
    grid-area: outro;
}

.InfoLab .info .infosLab .UserData .IconDiv {
    width: 50px;
}

.InfoLab .info .infosLab .UserData .Data {
    max-height: 70px;
    margin-right: 15px;
    /* max-width: 173px; */
    max-width: 400px;
    overflow-y: scroll;
}

.InfoLab .info .infosLab .UserData .Title {
    max-height: 70px;
    margin-right: 15px;
    max-width: 173px;
    overflow-y: scroll;
}

.InfoLab .info .infosLab .UserData .DataDiv {
    padding: 10px 0;
    /* width: 220px; */
}

.InfoLab .info .Submit {
    margin: 0 auto;
    width: 250px;
}

.InfoLab .vertical-divider {
    color: var(--gray);
    height: calc(100% - 50px);
}

.InfoLab .info button:hover {
    background-color: var(--selectedButtonBlue);
}

.InfoLab .reserves form .InputBox {
    width: 250px;
}

.InfoLab .reserves form .Submit {
    margin: inherit;
    width: 120px;
}

.InfoLab .reserves .Submit {
    margin: 50px auto 0 auto;
    width: 250px;
}