.login-register-container {
    display: flex;
    height: 100vh;
}

.login-register-container .left-half {
    width: 50vw;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #446868;
}

.login-register-container .left-half .imgLogo {
    background-image: url('/logos/Big-Logo-White.png');
    background-size: cover;
    width: calc(100px * 5.5);
    height: 100px;
}

.login-register-container .right-half {
    width: 50vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-register-container h2 {
    font-weight: 500;
}

.login-register-container .acme {
    font-family: IBM;
    font-weight: bold;
    color: var(--gray);
}

.login-register-container span {
    color: var(--buttonBlue);
}

.login-register-container form {
    margin-top: 20px;
}

.login-register-container .form-group {
    display: flex;
    margin-bottom: 1rem;
    justify-content: center;
    flex-direction: column;
}

.login-register-container .toggle-link {
    text-align: center;
    margin-top: 1em;
}

.login-register-container .toggle-link span{
    cursor: pointer;
}

@media (max-width: 1200px) {
    .login-register-container .left-half .imgLogo {
        width: calc(70px * 5.5);
        height: 70px;
    }
}
  
/* @media (max-width: 850px) {
    html {
        overflow-y: hidden; comentar isso daqui tbm dps
    }

    .login-register-container {
        flex-direction: column;
    }

    .login-register-container .left-half {
        background-color: var(--background);
        flex: none;
        height: 70px;
        width: 100vw;
        border-bottom: solid var(--gray ) 1px;
    }

    .login-register-container .left-half .imgLogo {
        background-image: url('./logos/Logo-Dark.png');
        width: calc(40px * 5.5);
        height: 40px;
    }
    
    .login-register-container .right-half {
        width: 100vw;
    }
} */

@media (max-width: 850px) {
    .login-register-container {
        flex-direction: column;
    }

    .login-register-container .left-half {
        flex: none;
        height: 50vh;
        width: 100vw;
    }
    
    .login-register-container .right-half {
        height: 50vh;
        width: 100vw;
    }

    .left-half {
        display: none; /* Hide the logo section on smaller screens */
    }

    .toggle-link {
        text-align: center;
        display: block;
    }
    
    @media (max-height: 720px) {
        .login-register-container .left-half {
            height: 30vh;
            min-height: 152px;
        }
        
        .login-register-container .right-half {
            height: 70vh;
            min-height: 355px;
        }
    }
}