/* .MainPage {
    overflow-y: hidden;
    max-height: 100vh;
} */

.MainPage .content {
    padding: 0 10%;
    text-align: justify;
    font-family: Antic;
    font-size: 19px;
    overflow-y: scroll;
    height: calc(100vh - 4rem); /* Full height - header height */
    background-color: var(--background);
}

.MainPage .content h1 {
    margin: 4rem 0;
    font-family: Anton;
    text-align: center;
    color: var(--gray);
    font-size: 41px;
}

.MainPage .content h2 {
    margin-top: 2.5rem;
    font-family: BakBak;
    color: var(--gray);
    font-size: 23px;
}

.MainPage .content hr {
    color: var(--gray);
}

.MainPage .content .MainInfoContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1.7rem;
    gap: 1rem;
}

.MainPage .content .MainInfoContainer:last-child {
    margin-bottom: 2rem;
}