.MainPage h2 {
    margin-top: 40px;
    font-family: BakBak;
    color: var(--gray);
    font-size: 1.4375rem;
    text-align: left;
}

.MainPage .Container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 27px;
    gap: 16px;
}

/* .MainPage .Container:last-child {
    margin-bottom: 32px;
} */