.Reserves p {
    margin-bottom: 10px;
}

.Reserves .SearchForm {
    gap: 7px;
    display: flex;
}

.Reserves .SearchForm .InputBox {
    flex: 1 1 0px;
}

.Reserves .SearchForm .Submit {
    width: 150px;
}

.Reserves .info {
    text-align: center;
    font-size: .8rem;
}