.Users p {
    margin-bottom: 10px;
}

.Users .SearchForm {
    grid-template-columns: repeat(4, 1fr) auto;
}

.Users .SearchForm .InputBox {
    width: inherit;
}

.Users .SearchForm .Input {
    width: inherit;
}

.Users .SearchForm .Submit {
    width: 150px;
}

@media (max-width: 1090px) {
    .Users .SearchForm {
        grid-template-areas: 'nome nome nome nome nome email email email email email' 'cpf cpf cpf cpf tipo tipo tipo tipo pesq pesq';
        grid-template-columns: repeat(10, 1fr);
    }

    .Users .SearchForm .InputBox:nth-child(1) {
        grid-area: nome;
    }
    
    .Users .SearchForm .InputBox:nth-child(2) {
        grid-area: cpf;
    }
    
    .Users .SearchForm .InputBox:nth-child(3) {
        grid-area: email;
    }

    .Users .SearchForm .InputBox:nth-child(4) {
        grid-area: tipo;
    }
    
    .Users .SearchForm .Submit {
        grid-area: pesq;
    }

    .Users .SearchForm .Submit {
        width: inherit;
    }
}

@media (max-width: 768px) {
    .Users .SearchForm {
        grid-template-areas: 'nome nome nome nome email email email email' 'cpf cpf cpf tipo tipo tipo pesq pesq';
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: 540px) {
    .Users .SearchForm {
        grid-template-areas: 'nome email' 'cpf tipo' 'pesq pesq';
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 470px) {
    .Users .SearchForm {
        grid-template-areas: 'nome' 'email' 'cpf' 'tipo' 'pesq';
        grid-template-columns: repeat(1, 1fr);
    }
}