@font-face {
  font-family: Actor;
  src: url(/fonts/Actor-Regular.ttf);
}

@font-face {
  font-family: BakBak;
  src: url(/fonts/BakBak-Regular.otf);
}

@font-face {
  font-family: Antic;
  src: url(/fonts/Antic-Regular.ttf);
}

@font-face {
  font-family: Anton;
  src: url(/fonts/Anton-Regular.ttf);
}

:root {
  --menuBlue: #22b1b1;
  --buttonBlue: #4F8F8F;
  --white: #D9D9D9;
  --gray: #343434;
  /* --header: #DDDDDD; */
  --header: #EEEEEE;
  --background: #EEEEEE;
}

* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.v {
  align-items: center;
}

.h {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.c {
  flex-direction: column;
}

html {
  height: 100vh;
  overflow: hidden;
  background-color: var(--background);
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #b4b4b4; 
  border-radius: 10px;
  border: solid var(--background) .1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #979797; 
}

.PageWrapper {
    max-width: 99rem;
    margin: 0 auto;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
