@font-face {
  font-family: Actor;
  src: url(/fonts/Actor-Regular.ttf);
}

@font-face {
  font-family: BakBak;
  src: url(/fonts/BakBak-Regular.otf);
}

@font-face {
  font-family: Antic;
  src: url(/fonts/Antic-Regular.ttf);
}

@font-face {
  font-family: Anton;
  src: url(/fonts/Anton-Regular.ttf);
}

@font-face {
  font-family: Acme;
  src: url(/fonts/Acme-Regular.ttf);
}

:root {
  --menuBlue: #22b1b1;
  --buttonBlue: #4F8F8F;
  --selectedButtonBlue: #3f7575;
  --white: #D9D9D9;
  --gray: #343434;
  --header: #EEEEEE;
  --background: #EEEEEE;
}

* {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
    display: grid;
}

.v {
  align-items: center;
}

.h {
  justify-content: center;
}

.sb {
  justify-content: space-between;
}

.sa {
  justify-content: space-around;
}

.c {
  flex-direction: column;
}

html {
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background);
}

h1 {
    /* margin: 6vh 0; */
    margin: 4rem 0;
    font-family: Anton;
    text-align: center;
    color: var(--gray);
    font-size: 2.5625rem;
}

hr {
    color: var(--gray);
}


/* width */
::-webkit-scrollbar {
    width: .5rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #b4b4b4; 
    border-radius: 10px;
    border: solid var(--background) .1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #979797; 
}

.PageContent {
    max-width: 1584px;
    margin: 0 auto;
    padding: 0 10%;
    text-align: justify;
    font-family: Antic;
    font-size: 1.1875rem;
    /* overflow-y: scroll; */
    height: calc(100vh - 64px - 1px); /* Full height - header height - header border height*/
    background-color: var(--background);
}

.CancelButton:hover {
    color: var(--selectedButtonBlue);
}

@media (max-width: 1400px) {
    .PageContent {
        padding: 0 5%;
    }
}

@media (max-width: 1250px) {
    .PageContent {
        padding: 0 10%;
    }
}

@media (max-width: 1000px) {
    .PageContent {
        padding: 0 5%;
    }
}

@media (max-width: 400px) {
    html {
        font-size: .9rem;
    }
}

@media (max-width: 355px) {
    h1 {
        font-size: 2.2rem;
    }
}